<body>{% extends "challenge.html" %}

{% block description %}
	<link rel="stylesheet" type="text/css" href="{{ script_root }}/plugins/CTFD-Programming-Plugin/assets/codemirror.min.css">
	<link rel="stylesheet" type="text/css" href="{{ script_root }}/plugins/code_challenges/assets/mdn-like.css">

    {{ challenge.html }}
	<textarea id="challenge-input" class="challenge-input" type="text" name="answer" rows="15"></textarea>
{% endblock %}

{% block input %}
    <input id="challenge-id" class="challenge-id" type="hidden" value="{{ challenge.id }}">
{% endblock %}

{% block submit %}
    <button id="challenge-submit" class="challenge-submit" type="submit">
        Submit
    </button>
{% endblock %}</body>
